$orange: #EF7B6C;
$black: #122C34;
$ash-1: #999999;
$ash-03: rgba(153, 153, 153, 0.3);
$ash-05: rgba(153, 153, 153, 0.5);
$green: #A1CCA5;
$dark-green: #3A6B2E;

@mixin login-and-signup {
	background-color: $black;
	height: 100%;
	display: flex; justify-content: center; align-items: center;

	form {
		display: flex; flex-direction: column;
		text-align: center;
		color: $orange;

		&>input {
			&::placeholder {
				color: rgba(0, 0, 0, 0.33);
			}
			color: $black;
			font-size: 1rem;
			background-color: #C4C4C4;
			height: 2.5rem;
			margin-top: 0.75rem;
			border: none;
			padding: 1rem;
		}

		&>:nth-last-child(1) {
			margin-top: 0.75rem;
			display: flex; justify-content: space-between;

			&>:nth-child(1) {
				padding: 0.5rem 1rem;
				font-size: 0.9rem;
				color: $black;
				background-color: #C4C4C4;
				border: none;
			}

			&>:nth-child(2) {
				background-color: transparent;
				color: $orange;
				display: flex; align-items: center;
				font-size: 0.9rem;
			}
		}
	}
}

@mixin msg-row($direction) {
	display: flex;
	margin: 2rem 0;

	$msg_is_the_nth_child_of_the_parent: null;
	$date_is_the_nth_child_of_the_parent: null;

	@if $direction == left {
		$msg_is_the_nth_child_of_the_parent: 1;
		$date_is_the_nth_child_of_the_parent: 2;
	} @else {
		$msg_is_the_nth_child_of_the_parent: 2;
		$date_is_the_nth_child_of_the_parent: 1;
	}

	&>:nth-child(#{$msg_is_the_nth_child_of_the_parent}) { 
		display: flex; 
		background-color: $green;
		border-radius: 0 30px 30px 0;

		@if $direction == left {
			border-radius: 0 30px 30px 0;
		} @else {
			border-radius: 30px 0 0 30px;
		}

		height: 100%;
		padding: 0.75rem 1rem 0.75rem 0.75rem;

		max-width: 70vw;
		line-break: anywhere;
	}

	&>:nth-child(#{$date_is_the_nth_child_of_the_parent}) {
		color: $ash-05;
		font-size: 0.8rem;

		@if $direction == left {
			margin: auto 0 auto 1rem;
		} @else {
			margin: auto 1rem auto auto;
		}
	}
}
