@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
#chat {
  height: 100%;
  display: grid;
  background-color: #122C34;
  align-content: space-between;
}
#chat #top {
  display: flex;
  padding: 1.25rem;
  background-color: #EF7B6C;
}
#chat #top h2 {
  margin: auto;
  color: #122C34;
  font-weight: 300;
}
#chat #top .btn-back {
  font-size: 1.25rem;
  align-self: center;
}
#chat #middle {
  overflow: auto;
}
#chat #middle .check-circle {
  font-size: 1.25rem;
  margin-right: 1rem;
  align-self: center;
  color: #122C34;
}
#chat #middle .msg-received-row {
  display: flex;
  margin: 2rem 0;
}
#chat #middle .msg-received-row > :nth-child(1) {
  display: flex;
  background-color: #A1CCA5;
  border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  height: 100%;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  max-width: 70vw;
  line-break: anywhere;
}
#chat #middle .msg-received-row > :nth-child(2) {
  color: rgba(153, 153, 153, 0.5);
  font-size: 0.8rem;
  margin: auto 0 auto 1rem;
}
#chat #middle .msg-sent-row {
  display: flex;
  margin: 2rem 0;
}
#chat #middle .msg-sent-row > :nth-child(2) {
  display: flex;
  background-color: #A1CCA5;
  border-radius: 0 30px 30px 0;
  border-radius: 30px 0 0 30px;
  height: 100%;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  max-width: 70vw;
  line-break: anywhere;
}
#chat #middle .msg-sent-row > :nth-child(1) {
  color: rgba(153, 153, 153, 0.5);
  font-size: 0.8rem;
  margin: auto 1rem auto auto;
}
#chat #middle .msg-target {
  text-align: left;
  margin: 10px 0;
}
#chat #bottom {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 50px;
  margin: 1rem;
  padding: 0.75rem 1rem;
  background-color: white;
}
#chat #bottom * {
  background-color: transparent;
  color: #122C34;
  outline: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
}
#chat #bottom :nth-child(2) {
  font-size: 1rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #122C34;
  margin: 0 1rem;
}
#chat #bottom :nth-child(3) {
  font-size: 1rem;
}
#chat .picker {
  width: 100vw;
  border: 1px solid purple;
}

#settings {
  color: #999999;
}
#settings * {
  font-weight: 400;
}
#settings > *:not(:nth-child(5)) {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid rgba(153, 153, 153, 0.3);
  background-color: transparent;
  color: #999999;
}
#settings > :nth-child(1) .icon-add {
  transform: scaleX(-1);
}
#settings > :nth-child(2) > :nth-child(2) {
  margin-left: auto;
  color: #999999;
}
#settings > :nth-child(2) > :nth-child(3) {
  margin-left: 1rem;
}
#settings > :nth-child(3) > :nth-child(2) {
  margin-left: auto;
  color: #999999;
}
#settings > :nth-child(3) > :nth-child(3) {
  margin-left: 1rem;
}
#settings > :nth-child(4) > :nth-child(2) {
  font-size: 1.25rem;
}
#settings > :nth-child(5) {
  border: 1px solid red;
  position: fixed;
  top: 25%;
  left: 20%;
  right: 20%;
}
#settings > :nth-child(5) > input {
  width: 100%;
  background-color: #999999;
  border: none;
  height: 2rem;
}
#settings > :nth-child(5) > :nth-child(1) {
  margin-bottom: 0.25rem;
}
#settings > :nth-child(5) > :nth-last-child(-n+2) {
  width: 50%;
  margin-top: 0.5rem;
}

#login {
  background-color: #122C34;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #EF7B6C;
}
#login form > input {
  color: #122C34;
  font-size: 1rem;
  background-color: #C4C4C4;
  height: 2.5rem;
  margin-top: 0.75rem;
  border: none;
  padding: 1rem;
}
#login form > input::placeholder {
  color: rgba(0, 0, 0, 0.33);
}
#login form > :nth-last-child(1) {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
#login form > :nth-last-child(1) > :nth-child(1) {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #122C34;
  background-color: #C4C4C4;
  border: none;
}
#login form > :nth-last-child(1) > :nth-child(2) {
  background-color: transparent;
  color: #EF7B6C;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#signup {
  background-color: #122C34;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #EF7B6C;
}
#signup form > input {
  color: #122C34;
  font-size: 1rem;
  background-color: #C4C4C4;
  height: 2.5rem;
  margin-top: 0.75rem;
  border: none;
  padding: 1rem;
}
#signup form > input::placeholder {
  color: rgba(0, 0, 0, 0.33);
}
#signup form > :nth-last-child(1) {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
#signup form > :nth-last-child(1) > :nth-child(1) {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #122C34;
  background-color: #C4C4C4;
  border: none;
}
#signup form > :nth-last-child(1) > :nth-child(2) {
  background-color: transparent;
  color: #EF7B6C;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100vh;
}

a, button, input[type=submit] {
  text-decoration: none;
  cursor: pointer;
}

#layout {
  background-color: #122C34;
  height: 100%;
}
#layout #navbar {
  display: grid;
  grid-template: auto/1fr 1fr;
  background-color: #EF7B6C;
}
#layout #navbar a {
  text-align: center;
  padding: 1.25rem;
  color: #122C34 !important;
  font-size: 1.25rem;
  font-weight: 500;
}
#layout #navbar a:nth-child(2) {
  border-left: 1px solid #122C34;
}

#home .row-friend {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0 0.75rem;
  justify-content: end;
}
#home .row-friend > :nth-child(1) {
  border-radius: 50%;
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EF7B6C;
  color: #122C34;
}
#home .row-friend > :nth-child(2) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #999999;
  margin-left: 2rem;
}
#home .row-friend > :nth-child(2) > :nth-child(1) {
  display: flex;
  align-items: flex-end;
}
#home .row-friend > :nth-child(2) > :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A1CCA5;
  border-radius: 50%;
  margin: auto auto 0 10px;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.75rem;
  color: #122C34;
}
#home .row-friend > :nth-child(2) > :nth-child(3) {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
#home .row-friend > :nth-child(2) > :nth-last-child(2) {
  flex: 1;
}
#home .row-friend > :nth-child(2) > :nth-last-child(1) {
  margin-left: auto;
}
#home .row-active {
  display: flex;
  padding: 1rem 0.75rem;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-bottom: 0.1px solid rgba(153, 153, 153, 0.3);
}
#home .row-active h4 {
  color: #999999;
  text-align: center;
  padding: 0;
  margin: auto;
}
#home .row-active::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#home .row-active button {
  position: relative;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #E6EBE0;
  font-size: 1.25rem;
  border: 3.5px solid #EF7B6C;
  margin-right: 10px;
}
#home .row-active button::after {
  content: "";
  background-color: #EF7B6C;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  bottom: -2.5px;
  right: -2.5px;
  border-radius: 50%;
}

/*# sourceMappingURL=index.css.map */
